/*
==============
CSS for - TEMPO.CO New Site
Muhammad Adam Firdaus 2017
http://www.muhammadadamfirdaus.com/
==============
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, section {
	display: block;
}

html, body {
	margin:0;
	padding:0;
	height:100%;
}

body {
	font-family:"Roboto-Light";
	background-color: #fbfbfb;
}

a {
	text-decoration: none;
}

img {
	display:block;
	width: 100%;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "HelveticaNeueW01-55Roman", Helvetica, Arial;
}

h1 {
	font-size:32px;
}

h2 {
	font-size: 28px;
}

h3 {
	font-size:24px;
}

h4 {
	font-size:20px;
}

h5 {
	font-size:16px;
}

h6 {
	font-size:14px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
	min-height:100%;
  margin: 0 auto;
	position:relative;
}

.col {
  float: left;
}

.w-30 {
	width: 33.3%;
}

.w-50 {
  width: 50%;
}

.w-70 {
	width: 66.7%;
}

.h-50 {
	height: 50px;
}

.desktop.active,
.mobile.active,
.newsflash {
	display: block;
}

.desktop,
.mobile,
.logo-tempo span {
	display: none;
}

footer {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
}

.preload {
	width:100%;
	height:100%;
	position:absolute;
	background:rgba(0,0,0,0.8);
	z-index: 10;
	display: flex;
	display: -webkit-flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.swiper-container.tempo-2017-tutorial {
	width: 100%;
	height: 400px;
	position: relative;
}

.swiper-container.tempo-2017-tutorial .swiper-pagination {
	position: absolute;
	bottom: 0;
}

/* fonts */
@font-face {
  font-family: 'Helvetica';
	src:	url('https://cdn.tmpo.co/css/fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
				url('https://cdn.tmpo.co/css/fonts/Helvetica.otf')  format('opentype'),
				url('https://cdn.tmpo.co/css/fonts/Helvetica.woff') format('woff'),
				url('https://cdn.tmpo.co/css/fonts/Helvetica.ttf')  format('truetype'),
				url('https://cdn.tmpo.co/css/fonts/Helvetica.svg#Helvetica') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueW01-45Light';
	src:	url('https://cdn.tmpo.co/css/fonts/HelveticaNeueW01-45Light.eot?#iefix') format('embedded-opentype'),
				url('https://cdn.tmpo.co/css/fonts/HelveticaNeueW01-45Light.woff') format('woff'),
				url('https://cdn.tmpo.co/css/fonts/HelveticaNeueW01-45Light.ttf')  format('truetype'),
				url('https://cdn.tmpo.co/css/fonts/HelveticaNeueW01-45Light.svg#HelveticaNeueW01-45Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueW01-55Roman';
	src:	url('https://cdn.tmpo.co/css/fonts/HelveticaNeueW01-55Roman.eot?#iefix') format('embedded-opentype'),
				url('https://cdn.tmpo.co/css/fonts/HelveticaNeueW01-55Roman.woff') format('woff'),
				url('https://cdn.tmpo.co/css/fonts/HelveticaNeueW01-55Roman.ttf')  format('truetype'),
				url('https://cdn.tmpo.co/css/fonts/HelveticaNeueW01-55Roman.svg#HelveticaNeueW01-55Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Impact';
	src:	url('https://cdn.tmpo.co/css/fonts/Impact.eot?#iefix') format('embedded-opentype'),
				url('https://cdn.tmpo.co/css/fonts/Impact.woff') format('woff'),
				url('https://cdn.tmpo.co/css/fonts/Impact.ttf')  format('truetype'),
				url('https://cdn.tmpo.co/css/fonts/Impact.svg#Impact') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NativeLand';
	src:	url('https://cdn.tmpo.co/css/fonts/NativeLand.eot?#iefix') format('embedded-opentype'),
				url('https://cdn.tmpo.co/css/fonts/NativeLand.woff') format('woff'),
				url('https://cdn.tmpo.co/css/fonts/NativeLand.ttf')  format('truetype'),
				url('https://cdn.tmpo.co/css/fonts/NativeLand.svg#NativeLand') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins-Light';
	src:	url('https://cdn.tmpo.co/css/fonts/Poppins-Light.eot?#iefix') format('embedded-opentype'),
				url('https://cdn.tmpo.co/css/fonts/Poppins-Light.woff') format('woff'),
				url('https://cdn.tmpo.co/css/fonts/Poppins-Light.ttf')  format('truetype'),
				url('https://cdn.tmpo.co/css/fonts/Poppins-Light.svg#Poppins-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src:	url('https://cdn.tmpo.co/css/fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
				url('https://cdn.tmpo.co/css/fonts/Roboto-Light.woff') format('woff'),
				url('https://cdn.tmpo.co/css/fonts/Roboto-Light.ttf')  format('truetype'),
				url('https://cdn.tmpo.co/css/fonts/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src:	url('https://cdn.tmpo.co/css/fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
				url('https://cdn.tmpo.co/css/fonts/Roboto-Bold.woff') format('woff'),
				url('https://cdn.tmpo.co/css/fonts/Roboto-Bold.ttf') format('truetype'),
				url('https://cdn.tmpo.co/css/fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* colors */
.red-500 {
	background-color: rgba(244,67,54,1);
	color: #fff;
}

.amber-700 {
	background-color: #ffa000;
	color: #fff;
}

.red-sky {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d32f2f+0,5674b9+100 */
background: rgb(211,47,47); /* Old browsers */
background: -moz-linear-gradient(45deg,  rgba(211,47,47,1) 0%, rgba(86,116,185,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  rgba(211,47,47,1) 0%,rgba(86,116,185,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  rgba(211,47,47,1) 0%,rgba(86,116,185,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d32f2f', endColorstr='#5674b9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: #fff;
}

.green-diagonal-75 {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#004d40+0,26a69a+100 */
	background: rgb(0,77,64); /* Old browsers */
	background: -moz-linear-gradient(45deg,  rgba(0,77,64,1) 0%, rgba(38,166,154,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg,  rgba(0,77,64,1) 0%,rgba(38,166,154,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg,  rgba(0,77,64,1) 0%,rgba(38,166,154,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004d40', endColorstr='#26a69a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: #fff;
}

hr {
	border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* mulai dari bawah ini */
.container-desktop {
  width: 1064px;
  margin: 0 auto;
}

.wrapper {
  padding: 0 20px;
}

header {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  position: relative;
	background: #ffffff;
}

.header-top {
  display: block;
  color: #ffffff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7e57c2+0,42a5f5+50,1de9b6+100 */
  background: rgb(126,87,194); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(126,87,194,1) 0%, rgba(66,165,245,1) 50%, rgba(29,233,182,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(126,87,194,1) 0%,rgba(66,165,245,1) 50%,rgba(29,233,182,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(126,87,194,1) 0%,rgba(66,165,245,1) 50%,rgba(29,233,182,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e57c2', endColorstr='#1de9b6',GradientType=1 ); /* IE6-9 */
  width: 100%;
  height: 30px;
}

.header-top span {
  font-family: "HelveticaNeueW01-45Light", Helvetica, Arial;
  font-size: 10px;
  line-height: 28px;
  letter-spacing: 0.10em;
}

.header-main {
  display: table;
  height: 100px;
  padding-top: 15px;
  position: relative;
}

.header-main > div {
  display: table-cell;
  vertical-align: middle;
}

.logo-tempo {
  display: inline-block;
	vertical-align: middle;
  width: 30%;
  height: 30px;
  line-height: 30px;
  background-image: url(../images/sprites.png);
	background-repeat: no-repeat;
  background-size: 235%;
	margin-left: 5px;
}

.newsflash h2.col {
	display: inline-block;
	text-transform: uppercase;
	color: #e53935;
	border: 1px solid #e53935;
	padding: 6px 12px;
	margin-right: 20px;
	font-size: 10px;
	letter-spacing: 1.3px;
	font-family: "HelveticaNeueW01-45Light", Helvetica, Arial;
}

.swiper-container.head-focus {
	height: 20px;
}

.head-focus .swiper-slide a {
	text-decoration: none;
	color: #000;
	display: block;
}

.head-focus .swiper-slide h2 {
	font-size: 12px;
	line-height: 22px;
}

.header-bottom {
  background: #f9f8f7;
}

/* begin MENU */
nav {
	box-sizing: border-box;
	list-style: none;
}

.menu div:before {
	content:'';
	/*border-top:1px solid #fff;*/
	display: block;
}

.menu li {
	float:left;
	position:relative;
	line-height: 35px;
	height:40px;
	padding:0 10px;
}

.menu li:nth-of-type(1),
.menu li:nth-of-type(1) a {
	padding-left: 0;
}

.menu li.addon {
	display: none;
}

.menu li a {
	color: #aaa;
	font-family:"HelveticaNeueW01-55Roman", Helvetica, Arial;
	font-size:10px;
	letter-spacing: 0.2em;
	text-decoration:none;
	text-transform:uppercase;
}

.menu li a {
	padding:10px 5px;
}

.menu li:nth-child(2) {
	padding-left:0;
}

.menu li a:hover {
	color:#ccc;
	-moz-transition: background-color 1.5s ease-out;
	-webkit-transition: background-color 1.5s ease-out;
	-o-transition: background-color 1.5s ease-out;
	transition: background-color 1.5s ease-out;
}

.menu li ul {
	visibility: hidden;
	position: absolute;
	opacity: 0;
	-webkit-transform: translate3d(0, -4px, 0);
	transform: translate3d(0, -4px, 0);
	transition: all 0.5s ease;
	z-index: 2;
}

.menu li.sub-menu-active ul {
	visibility: visible;
	position: absolute;
	opacity: 1;
	-webkit-transform: translate3d(0, 3px, 0);
	transform: translate3d(0, 3px, 0);
	transition: all 0.5s ease;
}

.menu li.sub:before {
	top: 8px;
	right: 4px;
}

.menu ul li {
	display:block;
	z-index: 5;
	width: 165px;
	padding: 0;
	line-height: 40px;
	background: rgba(0,0,0,0.85);
}

.menu ul li a {
	display:block;
	padding:0 15px;
}

.menu li ul li:first-child a {
	display:block;
	padding:0 15px;
}

.menu li ul li a:hover {
	color:rgba(255,255,255,0.75);
}

.menu-mobile,
main .navigation {
	display:none;
}
/* end MENU */

/* sticky */

.sticky {
	position: fixed;
	top: 0;
}

.sticky-header {
	width: 100%;
	z-index: 9;
	-webkit-animation: bounce-down 0.5s forwards;
	animation: bounce-down 0.5s forwards;
}

.sticky-header .header-top {
	height: 5px;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.sticky-header .header-main {
	position: absolute;
}

.sticky-header .header-main .logo-tempo,
.sticky-header .header-main .newsflash {
	opacity: 0;
	-webkit-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.sticky-header .header-bottom .menu {
	background: #fff;
}

.sticky-r3 {
	width: 344px;
	-webkit-animation: bounce-down 0.5s forwards;
	animation: bounce-down 0.5s forwards;
}

.sticky.lepas {
	width: 344px;
	opacity: 0;
	-webkit-transform: translate3d(0, -200px, 0);
	transform: translate3d(0, -200px, 0);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

@-webkit-keyframes bounce-down {
	0% {
		-webkit-transform: translate3d(0, -100px, 0);
		transform: translate3d(0, -100px, 0);
	}

	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes bounce-down {
	0% {
		-webkit-transform: translate3d(0, -100px, 0);
		transform: translate3d(0, -100px, 0);
	}

	100% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes bounce-up {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	100% {
		-webkit-transform: translate3d(0, -100px, 0);
		transform: translate3d(0, -100px, 0);
	}
}

@keyframes bounce-up {
	0% {
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}

	100% {
		-webkit-transform: translate3d(0, -100px, 0);
		transform: translate3d(0, -100px, 0);
	}
}


/* ads */
.ads {
	margin: 0 auto;
	position: relative;
	/*background-color: #ccc;*/
}

/* premium head */
.ads.premium-head {
	width: 970px;
	margin: 10px auto;
}

.ads.premium-head .premium-head-small {
	height: 90px;
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.8s ease;
	transition: transform 0.8s ease;
}

.ads.premium-head .premium-head-big {
	height: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate3d(0, 50px, 0);
	transform: translate3d(0, 50px, 0);
	-webkit-transition: all 0.8s ease;
	transition: all 0.8s ease;
}

.ads.premium-head .premium-head-small.deactive {
	height: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate3d(0, -25px, 0);
	transform: translate3d(0, -25px, 0);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.ads.premium-head .premium-head-big.active {
	height: 250px;
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.ads.premium-head .wrapper {
	padding: 0;
}

/* billboard */
.ads.billboard {
	width: 720px;
	height: 90px;
}

.ads.rectangle {
	height: 250px;
}

.ads.rectangle.r3 {
	background: none;
}

/* bottom ads desktop */
.bottom-banner {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 9;
}

.bottom-banner .container-desktop {
	position: relative;
}

.bottom-banner .container-desktop button {
	width: 28px;
	height: 28px;
	background: #e53935;
	color: #fff;
	font-size: 16px;
	line-height: 16px;
	padding-bottom: 5px;
	position: absolute;
	right: 0;
	top: -28px;
	text-align: center;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	border: 0;
}

.bottom-banner .h-50 {
	height: 50px;
}

.bottom-banner a {
	display: block;
	width: 1064px;
	margin: 0 auto;
	-webkit-transform: -webkit-translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.bottom-banner-closed {
	-webkit-transform: -webkit-translate3d(0, 100px, 0);
	transform: translate3d(0, 100px, 0);
	transition: transform 0.5s ease-out;
}

/* popup ads */
.popup-ads {
	opacity: 0;
	visibility: hidden;
	position: relative;
}

.popup-ads.active {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
}

.popup-ads button {
	position: absolute;
	right: 0;
	top: -30px;
	font-size: 20px;
	width: 30px;
	height: 30px;
	padding-bottom: 10px;
	border: 0;
	background: #e53935;
	color: #fff;
	border-radius: 50%;
}

.popup-ads button::before {
	right: 10px;
}

.popup-ads {
	width: 640px;
	height: 480px;
	z-index: 9999;
	position:fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
   transform: translate(-50%,-50%);
	/*background: rgba(255, 255, 255, 0.5);*/
}

.popup-ads a {
	display: block;
	width: 100%;
	height: 100%;
	opacity: 1;
}

.popup-ads.popup-ads-closed {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease-out;
}

/* sponsor headline */
#headline.headline-mobile-terbaru .swiper-slide .sponsor-headline h3 {
	background: #e53935;
	border: 1px solid #e53935;
}
/* end ads */

/* features */

#headline.headline-mobile-terbaru .swiper-slide .live:before {
	content: '';
	width: 8px;
	height: 8px;
	border-radius: 50%;
	position: absolute;
	left: 20px;
	top: 8px;
	-webkit-animation: live 1s ease infinite;
	animation: live 1s ease infinite;
}

@-webkit-keyframes live {
	0% {
		background-color: rgba(229, 57, 53, 1);
	}

	100% {
		background-color: rgba(229, 57, 53, 0);
	}
}

@keyframes live {
	0% {
		background-color: rgba(229, 57, 53, 1);
	}

	100% {
		background-color: rgba(229, 57, 53, 0);
	}
}

#headline.headline-mobile-terbaru .swiper-slide a.live h3 {
	padding-left: 20px;
	border: 1px solid #e53935;
	color: #e53935;
}

/* end features */

section li {
	list-style: none;
}

/* title-box */
.box-title {
	width: 160px;
	height: 34px;
	line-height: 34px;
	letter-spacing: 0.2em;
	display: inline-block;
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;
}
/* title box */

.list .card-type-1 a:nth-of-type(1) img,
.tab .tab-content-slide a:nth-of-type(1) img,
.card-type-3 a:nth-of-type(1) img,
.widget-article img,
#section-3 .col li img,
#section-4 .foto-home.swiper-container .card-type-5 img,
.video.tab-type-2 .tab-content-slide li:nth-of-type(2) img {
	width: auto;
	height: 100%;
	display: block;
	position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

/* headline */
#headline.headline-mobile-terbaru {
	background: #fefefe;
}

#headline.headline-mobile-terbaru .swiper-slide h2 {
	letter-spacing: 0.03em;
	padding: 10px 0;
}

#headline.headline-mobile-terbaru .swiper-slide h3 {
	display: inline-block;
	text-transform: uppercase;
	border: 1px solid #ffffff;
	padding: 6px 12px;
}

#headline.headline-mobile-terbaru .swiper-slide figcaption,
#section-4 .foto-home.swiper-container .swiper-slide figcaption {
	position: absolute;
	bottom: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
	background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
	width: 100%;
}

#headline figcaption a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 0 13px;
}
/* end headline */

.card .wrapper {
	background: none;
}

#headline,
.tab .tab-content,
#update,
.billboard,
.rectangle,
#section-2,
#berita-pilihan {
	margin-bottom: 30px;
}

main section > .w-70 {
	width: 720px;
}

main section > .w-30 {
	width: 344px;
}

main section > .w-30 .wrapper {
	padding: 0 0 0 44px;
}

main section > .w-30 .wrapper .wrapper {
	padding: initial;
}

/* tab */
/* core tab */
.tab {
	position: relative;
}

.tab .wrapper {
	padding: 0 0 0 5px;
	position: relative;
}

.tab .tab-pagination {
	height: 35px;
	border-bottom: 1px solid;
	margin-bottom: 10px;
}

.video .tab-pagination {
	border-color: #5674B9;
}


.terpopuler .tab-pagination,
.bola .tab-pagination {
	border-color: rgba(229,57,53,1);
}

.tekno .tab-pagination {
	border-color: #004d40;
}

.tab .tab-pagination .col:last-child {
	float: right;
	text-align: right;
}

.tab .tab-pagination .col:last-child a {
	margin: 0 10px;
}

.tab .tab-pagination .col:last-child a:last-child {
	margin: 0;
}

.tab .tab-pagination .col a {
	color: #333;
	display: inline-block;
	font-family: "HelveticaNeueW01-55Roman", Helvetica, Arial;
	font-size: 11px;
	line-height: 34px;
	margin: 0 10px;
	text-align: center;
	text-decoration: none;
}

.tab .tab-pagination a:first-child {
	margin: 0;
}

.tab .tab-pagination .col:last-child > li {
	display: inline-block;
	margin: 0 10px;
	position: relative;
	text-align: right;
}

.tab .tab-pagination .sub-tab {
	z-index: 2;
}

.tab .tab-pagination .sub-tab:before,
.menu li.sub:before {
	content: '';
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	background-size: 4px 23px;
	width: 4px;
	height: 23px;
	position: absolute;
}

.tab .tab-pagination .sub-tab:before {
	top: 6px;
	right: -3px;
}

.tab .tab-pagination .sub-tab ul {
	background: rgba(0,0,0,0.9);
	position: absolute;
	width: 160px;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate3d(0, -10px, 0);
	transform: translate3d(0, -10px, 0);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	text-align: left;
}

.tab .tab-pagination .sub-tab ul li {
	padding: 2px 0;
	display: block;
}

.tab .tab-pagination .sub-tab ul li a {
	color: #fff;
	padding-left: 12px;
}

.tab .tab-pagination .sub-tab.sub-tab-active ul {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.tab .tab-content {
	position: relative;
}

.tab .tab-content-slide li,
.video.tab-type-2 .tab-content-slide li:nth-of-type(2) {
	float: left;
	margin-bottom: 10px;
	width: 50%;
}

.tab .tab-content-slide li:last-child {
	margin-bottom: 0;
}

.tab .tab-content-slide li:nth-of-type(1) p {
	font-family: "HelveticaNeueW01-45Light", Helvetica, Arial;
	letter-spacing: 0.01em;
	margin: 0 0 10px 0;
}

.tab .tab-content-slide li:nth-of-type(1) a:nth-of-type(1) img,
.tab.tab-type-2 .tab-content-slide li:nth-of-type(2) a:nth-of-type(1) img,
#section-3 .col li:nth-of-type(1) a:nth-of-type(1) img,
.video.tab-type-2 .tab-content-slide li:nth-of-type(2) img {
	width: 100%;
	position: static;
}

.tab-content li a:nth-of-type(2) * {
	margin-left: 10px;
}

.tab-content li:nth-of-type(1) span {
	margin-left: 0;
	font-size: 12px;
}

.tab .tab-content-slide li h2,
.tab .tab-content-slide li p,
#section-3 .card p {
	color: #333;
}

.tab .tab-content-slide li h2 {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: 0.01em;
}

.tab .tab-content-slide li p,
#section-3 .card p,
.video.tab-type-2 .tab-content-slide li:nth-of-type(2) p {
	font-size: 12px;
	line-height: 16px;
}

.tab .tab-content-slide li a:nth-of-type(1),
#section-3 .col li a:nth-of-type(1) {
	width: 90px;
	height: 90px;
	overflow: hidden;
	position: relative;
}

.tab .tab-content-slide li a:nth-of-type(2),
#section-3 .col li a:nth-of-type(2) {
	width: 70%;
}

.tab .tab-content-slide li:nth-of-type(1) a:nth-of-type(2),
.tekno.tab.tab-type-2 .tab-content-slide li:nth-of-type(2) a:nth-of-type(2),
#section-3 li:nth-of-type(1) .card a:nth-of-type(2) {
	width: 100%;
}

.tab-content-slide {
  opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.8s ease;
	transition: opacity 0.8s ease;
	position: absolute;
	top: 0;
	left: 0;
}

.tab .tab-content-slide.selected {
  opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.8s ease;
	transition: opacity 0.8s ease;
}

/* tab type 1 */
.tab-type-1 li:nth-of-type(1) .wrapper,
.tab-type-2 li:nth-of-type(1) .wrapper {
	padding:0 10px 0 0;
}

.tab-type-1 .tab-content,
#section-3 li:nth-of-type(1) {
	min-height: 400px;
}

.tab-type-1 .tab-content-slide li:first-child {
	float: left;
	min-height: 400px;
}

.tab-type-2 .tab-content-slide li:nth-of-type(1),
.tab-type-2 .tab-content-slide li:nth-of-type(2) {
	float: left;
	min-height: 360px;
}

.tab-type-1 .tab-content-slide li:nth-of-type(1) a:nth-of-type(1),
.tekno.tab-type-2 .tab-content-slide li:nth-of-type(1) a:nth-of-type(1),
.tekno.tab-type-2 .tab-content-slide li:nth-of-type(2) a:nth-of-type(1),
.video.tab-type-2 .tab-content-slide li:nth-of-type(1) a:nth-of-type(1),
#section-3 .col li:nth-of-type(1) a:nth-of-type(1) {
	width: 100%;
	height: 100%;
}

.tab .tab-content-slide li:nth-of-type(1) h2.title,
.tekno.tab-type-2 .tab-content-slide li:nth-of-type(2) h2.title,
#section-3 li:nth-of-type(1) .card h2.title {
	margin: 5% 0;
}

/* tab type 2 */
.tab-type-2 .tab-content {
	min-height: 680px;
}

.video.tab-type-2 .tab-content {
	min-height: 1800px;
}

.tab-type-2 .tab-content li:nth-of-type(2) a:nth-of-type(2) *,
#section-3 li:nth-of-type(1) .card a:nth-of-type(2) * {
	margin-left: 0;
}

.video.tab-type-2 .tab-content-slide li:nth-of-type(1) {
	width: 100%;
}

.video.tab-type-2 .tab-content-slide li:nth-of-type(2) {
	/*height: 90px;*/
	min-height: auto;
	float: left;
}

.video.tab-type-2 .tab-content-slide li {
	float: left;
}

.video.tab-type-2 .tab-content-slide li:nth-of-type(1) a:nth-of-type(2) h2 {
	margin-left: 0;
}

.video.tab-type-2 li:nth-of-type(2n+1) .wrapper {
	padding-left: 10px;
}

.video.tab-type-2 li:nth-of-type(1) .wrapper,
.video.tab-type-2 li:nth-of-type(2n) .wrapper {
	padding: 0;
}

/* end tab */

.tab .tab-content-slide li:nth-of-type(1) h2.title,
.tekno.tab-type-2 .tab-content-slide li:nth-of-type(2) h2.title,
#section-3 li:nth-of-type(1) a:nth-of-type(2) h2.title,
.video.tab-type-2 .tab-content-slide li h2.title {
	font-size: 16px;
	line-height: 22px;
	height: auto;
	color: #000;
}

.tab .tab-content-slide a,
.card-type-4 h2 {
	color: #000;
	text-decoration: none;
}

.card-type-4 h2 {
	font-size: 14px;
	line-height: 20px;
	height: auto;
	margin: 3% 0;
}

/* berita pilihan */
#berita-pilihan .row {
	margin-bottom: 15px;
}

#berita-pilihan .row:last-child {
	margin-bottom: 0;
}

#berita-pilihan .col .wrapper {
	padding: 0;
}

#berita-pilihan li {
	margin-bottom: 10px;
}

#berita-pilihan li .card-type-4 {
	padding-right: 5px;
}

#berita-pilihan li:nth-of-type(3n+0) .card-type-4 {
	padding-right: 0;
}

#berita-pilihan li a:nth-of-type(1) {
	height: 128px;
	overflow: hidden;
}
/* berita pilihan */

.center {
	display: flex;
}

/* button */
a.button {
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 20px;
	border: 1px solid #e53935;
	color: #e53935;
	font-size: 12px;
	margin: 10px auto;
}

.swiper-container.content {
	width: 1064px;
}

.pic-zoom img{
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	transition: all 1s ease-out;
}

.pic-zoom img:hover {
	-webkit-transform: scale3d(1.2, 1.2, 1.2);
	transform: scale3d(1.2, 1.2, 1.2);
	-webkit-backface-visibility: hidden; /* Chrome, Safari, Opera */
  backface-visibility: hidden;
	transition: all 0.8s ease;
}

.pic-zoom .swiper-slide:nth-of-type(1) img,
.tab .tab-content-slide li:nth-of-type(1) a:nth-of-type(1) img {
	transition: all 2.5s ease-out;
}

.pic-zoom .swiper-slide:nth-of-type(1) img:hover,
.tab .tab-content-slide li:nth-of-type(1) a:nth-of-type(1) img:hover,
.tab.tab-type-2 .tab-content-slide li:nth-of-type(2) a:nth-of-type(1) img:hover {
	transition: all 5.5s linear;
}

.swiper-container.content > .swiper-wrapper,
#headline.swiper-container .swiper-wrapper {
	display: block;
}

#headline.swiper-container.headline-mobile-terbaru .swiper-slide:nth-of-type(1) {
	width: 50%;
	height: 300px;
}

#headline.swiper-container.headline-mobile-terbaru .swiper-slide:nth-of-type(1) .wrapper {
	/*padding: 0 5px 0 0;*/
}

#headline.swiper-container.headline-mobile-terbaru .swiper-slide {
	width: 25%;
	height: 150px;
	float: left;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	box-sizing: border-box;
}

#headline.swiper-container.headline-mobile-terbaru .swiper-slide h2 {
	font-size: 13px;
	line-height: 1.3em;
}

#headline.swiper-container.headline-mobile-terbaru .swiper-slide h3 {
	font-size: 8px;
	padding: 4px 10px;
}

#headline.swiper-container.headline-mobile-terbaru .swiper-slide:nth-of-type(1) h2 {
	font-size: 18px;
}

#headline.swiper-container.headline-mobile-terbaru .swiper-slide:nth-of-type(1) h3 {
	font-size: 12px;
}

#headline .swiper-pagination {
	display: none;
}

#headline .swiper-slide a:nth-of-type(1) {
	overflow: hidden;
	display: block;
}

.terpopuler.col {
	float: left;
}

/* update terbaru desktop */
.list li {
	margin-bottom: 10px;
}

.list.list-type-1 li:nth-of-type(1),
.list.list-type-2 li:nth-of-type(-n+2) {
	border-top: 1px solid #e53935;
	padding-top: 10px;
}

.list.list-type-2.tempo-channel li:nth-of-type(-n+2) {
	border-top: 1px solid #ffa000;
}

.list li:last-child {
	margin-bottom: 0;
}

.list li:nth-of-type(1).wrapper {
	border-top: 1px solid #f44336;
	padding-top: 10px;
}

.list li a {
	display: inline-block;
	position: relative;
}

.list.list-type-1 li a:nth-of-type(1) {
	width: 90px;
	height: 90px;
	overflow: hidden;
}

.list.list-type-2 li a:nth-of-type(1) {
	width: 100%;
	height: 90px;
	overflow: hidden;
}

.list.list-type-2 li {
	width: 50%;
	float: left;
}

.list.list-type-2 li:nth-child(2n+1) .wrapper {
	padding-left: 5px;
}

.list.list-type-2 li:nth-child(2n+2) .wrapper {
	padding-right: 5px;
}

.list li.wrapper {
	padding: 0;
}

.list.list-type-1 li a:nth-of-type(2) {
	width: 65%;
}

.list.list-type-1 li a:nth-of-type(2) *,
#section-3 li .card a:nth-of-type(2) * {
	margin-left: 10px;
}

.list li a:nth-of-type(2) h2,
.tab .tab-content-slide li h2,
#section-3 li .card a:nth-of-type(2) h2 {
	display: inline-block;
	color: #000;
	font-size: 12px;
	line-height: 16px;
	width: 100%;
	height: 65px;
	overflow: hidden;
	margin-bottom: 5px;
}

.list.list-type-2 li a:nth-of-type(2) h2 {
	font-size: 11px;
	height: 60px;
	margin: 5% 0;
}

.tab-content-slide li span,
.list li a:nth-of-type(2) span {
	font-size: 10px;
	color: #666;
}
/* end update terbaru desktop */

#berita-pilihan .row:nth-of-type(1),
#section-3 li:nth-of-type(1) a:nth-of-type(1) {
	border-top: 1px solid #f44336;
	padding-top: 10px;
}

#section-3 .wrapper {
	padding: 0;
}

#section-3 .col > .wrapper {
	padding: 0 7.5px;
}

#section-3 .col:first-child .wrapper {
	padding: 0 15px 0 0;
}

#section-3 .col:last-child > .wrapper:nth-of-type(1) {
	padding: 0 0 0 15px;
}

#section-3 .col:first-child .wrapper .wrapper {
	padding: 0;
}

#section-3 li {
	margin-bottom: 10px;
}

#section-3 li:last-child {
	margin-bottom: 0;
}

#section-3 .card span {
	color: #333;
	font-size: 10px;
}

#section-4 {
	margin: 4% 0;
}

#section-4 .foto-home.swiper-container {
	width: 100%;
	padding: 50px 0;
	background: #000;
}

#section-4 .foto-home.swiper-container .container-desktop > h2:nth-of-type(1) {
	color: #fff;
	font-family: 'Poppins-Light', Helvetica, Arial;
	font-size: 12px;
	letter-spacing: 4.6px;
	text-transform: uppercase;
	margin: 0 0 25px 25px;
	position: relative;
}

#section-4 .foto-home.swiper-container .container-desktop > h2:nth-of-type(1):after {
	border: 0;
	content: '';
	position: absolute;
	left: -50px;
	top: 22px;
	width: 20%;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}

#section-4 .foto-home.swiper-container .swiper-slide {
	background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

#section-4 .foto-home.swiper-container .swiper-button-next,
#section-4 .foto-home.swiper-container .swiper-button-prev {
	color: #ff0000;
}

#section-4 .foto-home.swiper-container .card-type-5 .wrapper {
	padding: 0;
	position: relative;
}

#section-4 .foto-home.swiper-container .card-type-5 a:nth-of-type(1) {
	width: 300px;
	height: 300px;
	overflow: hidden;
	color: #fff;
	position: relative;
}

#section-4 .foto-home.swiper-container .card-type-5 figcaption a {
	position: absolute;
	color: #fff;
	bottom: 10px;
}

#section-4 .foto-home.swiper-container .card-type-5 figcaption a * {
	position: absolute;
	bottom: 0;
	display: block;
	padding: 0 10px;
}

#section-4 .foto-home.swiper-container .card-type-5 figcaption a h2.title {
	font-size: 14px;
	margin: 10% 0;
}

#section-4 .foto-home.swiper-container .card-type-5 figcaption a span {
	font-size: 10px;
	margin-bottom: 10px;
}

/* video */

.video li figure {
	position: relative;
}

.video li {
	box-sizing: border-box;
}

.video.tab .tab-content-slide li a {
	width: 100%;
}

.video.tab .tab-content-slide li a:nth-of-type(1) {
	height: 195px;
}

.video.tab .tab-content-slide li a:nth-of-type(1) img {
	display: block;
	width: 100%;
}

.video.tab-type-2 .tab-content-slide li a:nth-of-type(2) h2.title {
	height: 44px;
	overflow: hidden;
	box-sizing: border-box;
}

.video.tab .tab-content-slide li a:nth-of-type(2) {
	padding: 10px 0;
}

.video figcaption a,
.video.tab .tab-content-slide li a:nth-of-type(2) {
	border-top: 1px solid rgba(150, 150, 150, 0.1);
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	box-sizing: border-box;
}

.video.tab .tab-content-slide li a:nth-of-type(2) * {
	margin: 0;
	padding: 0 10px;
}

.video .card-type-5 a.play {
	position: relative;
}

.video .card-type-5 a.play:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 1;
}

.video .card-type-5 a.play:after {
	content: '';
	display: block;
	position: absolute;
	top: 30%;
	left: 155px;
	width: 64px;
	height: 64px;
	background: url(../images/sprites.png) no-repeat;
	background-size: 970px 470px;
	background-position: -5px -85px;
	z-index: 2;
}

.video li:nth-of-type(1) .card-type-5 a.play:after {
	width: 140px;
	height: 140px;
	background-size: 2000px;
	background-position: -5px -170px;
	top: 30%;
	left: 310px;
}

.video figcaption a * {
	padding: 10px;
	box-sizing: border-box;
}

.tab.video figcaption a h2.title {
	margin: 2% 0;
}

.r3 .rectangle,
.widget .wrapper {
	border-top: 1px solid #e53935;
}

/* widget */
.widget-article .wrapper a:nth-of-type(1) {
	display: block;
	height: 250px;
	overflow: hidden;
	margin-top: 10px;
	position: relative;
}

.widget-article h2 {
	display: inline-block;
	font-size: 14px;
	margin: 10px 0;
}

.widget-article p {
	font-size: 12px;
	line-height: 18px;
	margin: 10px 0;
}

footer {
	height: 340px;
	box-sizing: border-box;
	background: #000;
}

footer .wrapper {
	padding: 30px 20px;
}

footer .logo-tempo {
	width: 200px;
	height: 40px;
	background-size: 470px;
	background-position: -230px 0;
}

footer nav li {
	margin-bottom: 10px;
}

footer nav li a {
	color: #fff;
	font-size: 11px;
	letter-spacing: 0.01em;
}

footer hr {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
	margin: 20px 0;
}

footer p {
	text-align: center;
	font-size: 10px;
	color: #ccc;
}

footer .swiper-button-next {
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	margin-right: 5%;
}

footer .social-media {
	margin: 0 auto;
}

.social-media {
	position: relative;
	display: flex;
	display: -webkit-flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	margin: 20px 0;
}

.social-media li {
	display: inline-block;
}

.social-media a {
	display: block;
	width: 32px;
	height: 32px;
	background-image: url(../images/sprites.png);
	background-repeat: no-repeat;
	background-size: 420px;
}

.social-media .facebook {
	background-position: -32px -34px;
}

.social-media .instagram {
	background-position: -95px -34px;
}

.social-media .twitter {
	background-position: -128px -34px;
}

.social-media .whatsapp {
	background-position: -160px -34px;
}

.social-media .line {
	background-position: -190px -34px;
}

.social-media .youtube {
	background-position: -222px -34px;
}


/* General Mobile */
@media screen and (max-width: 800px){
  * {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-moz-tap-highlight-color: rgba(0,0,0,0);
	} /* hide blink mobile touch */

	.newsflash,
	.tab-content li p,
	.container-desktop .date span,
	.tab-pagination,
	.box-title {
		display: none;
	}

	.tab-content li:nth-of-type(1) span {
		display: block;
	}

	body {
		background-color: #ebebeb;
	}

	.card .wrapper {
		background-color: #fefefe;
	}

	/* night mode */
	.night-mode main .swiper-container.content,
	.night-mode .list li,
	.night-mode .terpopuler li {
		color: rgba(255,255,255,1);
		background-color: rgba(38,50,56,1); /* level 1 */
	}

	.night-mode .menu-mobile a,
	.night-mode .menu-mobile:before,
	.night-mode .menu-mobile:after {
		color: rgba(255,255,255,1);
		background-color: rgba(255,255,255,1);
	}

	.night-mode header .menu-mobile {
		background-color: rgba(0,0,0,0);
	}

	.night-mode,
	.night-mode header *,
	.night-mode main .swiper-container.navigation {
		background-color: rgba(55,71,79,1); /* level 2 */
	}

	.night-mode #headline.headline-mobile-terbaru,
	.night-mode .card .wrapper,
	.night-mode .card * {
		background-color: rgba(69,90,100,1); /* level 3 */
		/*background-color: rgba(84,110,122,1); /* level 4 */*/
	}

	.night-mode .card a:nth-of-type(2) *,
	.night-mode .terpopuler .card-type-1 a:nth-of-type(1),
	.night-mode .terpopuler .card-type-1 a:nth-of-type(2) h2.title {
		color: rgba(255,255,255,1);
	}

	.night-mode .terpopuler .card-type-1 a:nth-of-type(1),
	.night-mode .swiper-pagination-bullet-active:before {
		border: 1px solid rgba(255,255,255,1);
	}

	.night-mode .swiper-pagination-bullet-active {
		background-color: rgba(255,255,255,1);
	}

	.night-mode .swiper-pagination-bullet {
		background-color: #ccc;
	}

	.night-mode .navigation a.swiper-slide.swiper-slide-active {
		color: rgba(66,145,245,1);
		border-bottom: 2px solid rgba(66,145,245,1);
	}

	.night-mode figcaption * {
		background-color: rgba(0,0,0,0);
	}
	/* end night mode */

	header {
		-webkit-box-shadow: none;
	  -moz-box-shadow: none;
	  box-shadow: none;
	}

	.logo-tempo {
    width: 80%;
    height: 45px;
    line-height: 45px;
    background-size: 200%;
		margin-left: 20px;
  }

  .header-top {
    height: 4px;
  }

	.header-main {
		padding-top: 0;
	}

	/* reset  width & height */
	/* width reset */
  .container-desktop,
	.w-30,
	.w-70,
	.tab-content li {
    width: 100%;
  }

	/* height reset */
	.container {
		height: 100%;
	}

	.tab-content li:nth-of-type(1) {
		min-height: auto;
	}
	/* end reset */

  .menu-mobile {
		display:block;
		text-align: center;
		width: 32px;
		height: 32px;
		right: 10px; /* change placement menu button on left or right */
		top: 4px;
		position: absolute;
		z-index: 9;
		background-color: rgba(0,0,0,0);
	}

	.menu-mobile a,
	.menu-mobile:before,
	.menu-mobile:after {
		background: #e53935;
		display: block;
		position: absolute;
		margin: auto;
		width: 100%;
		height: 2px;
	}

	.menu-mobile:before {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0);
	}

	.menu-mobile:after {
		-webkit-transform: translate(0, 8px);
		transform: translate(0, 8px);
	}

	.menu-mobile a {
		color: #e53935;
		font-size: 9px;
		line-height: 26px;
		letter-spacing: 2.2px;
		text-decoration:none;
		text-transform: uppercase;
		-webkit-transform: translate(0, 16px);
		transform: translate(0, 16px);
		-webkit-transition: -webkit-transform 0.3s ease;
		transition: transform 0.3s ease;
	}

	.menu-mobile:before,
	.menu-mobile:after {
		content:'';
		-webkit-transition: -webkit-transform 0.3s ease;
		transition: transform 0.3s ease;
	}

	.menu-mobile.close a {
		font-size: 8px;
		line-height: 28px;
		width: 0;
		letter-spacing: 2px;
		-webkit-transform: translate(0px, 16px);
		transform: translate(0px, 16px);
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		color: #fff;
	}

	.menu-mobile.close:before {
		-webkit-transform: rotate(45deg) translate(8px, 8px);
		transform: rotate(45deg) translate(8px, 8px);
	}

	.menu-mobile.close:after {
		-webkit-transform: rotate(-45deg) translate(-8px, 8px);
		transform: rotate(-45deg) translate(-8px, 8px);
	}

	.menu-mobile.close:before,
	.menu-mobile.close:after {
		-webkit-transition: all 0.3s ease;
		transition: all 0.3s ease;
		background: #fff;
	}

	nav {
		border:0;
	}

	.menu,
	.search {
		background:rgba(0,0,0,0.75);
	}

	.menu {
		position: fixed;
		right: 0;
		top: 0;
		width: 80%;
		margin: 0;
		z-index: 9;
		min-height: 100%;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	.menu .scroll-container {
		position:relative;
		padding-top: 20%;
	}

	.menu-expanded {
		width:80%;
		z-index: 9;
		/*transition: width 1s cubic-bezier(0, 0.15, 0.1, 3);*/
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		-webkit-transition: -webkit-transform 0.3s ease;
		transition: transform 0.3s ease-in;
	}

	.menu-collapsed {
		/*width:0;*/
		-webkit-transform: translate3d(100%,0,0);
		transform: translate3d(100%,0,0);
		-webkit-transition: -webkit-transform 0.3s ease-out;
		transition: transform 0.3s ease-out;
	}

	.menu div:before {
		border-top:0;
	}

	.menu .addon {
		position: relative;
		color: rgba(255,255,255,1);
		font-size: 120%;
	}

	.menu .addon a {
		display: block;
	}

	.menu a.night-mode-button {

	}

	.menu .night-mode-button::before,
	.menu .night-mode-button::after {
		content: '';
		display: inline-block;
		position: absolute;
	}

	.menu .night-mode-button::before {
		/*right: 0;
		top: 10px;*/
		width: 100px;
		height: 20px;
		-webkit-border-radius: 25px;
		border-radius: 25px;
		background: rgba(125,125,125,1);
	}

	.menu .night-mode-button:after {
		width: 40px;
		height: 40px;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		background: rgba(150,150,150,1);
		-webkit-transform: translate3d(0,-12px,0);
		transform: translate3d(0,-12px,0);
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	.menu .night-mode-button.night-mode-button-active::after {
		background: rgba(66,165,245,1);
		-webkit-box-shadow: 0px 0px 50px 25px rgba(66,165,245,0.4);
	  -moz-box-shadow: 0px 0px 50px 25px rgba(66,165,245,0.4);
	  box-shadow: 0px 0px 50px 25px rgba(66,165,245,0.4);
		-webkit-transform: translate3d(80px,-12px,0);
		transform: translate3d(80px,-12px,0);
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	.menu li {
		float:none;
		height: auto;
		line-height: 40px;
		margin: 40px 0;
		padding: 0 28px 0 28px;
	}

	.menu li:first-child {
		display: block;
	}

	.menu li:nth-child(2) {
		padding-left: 24px;
	}

	.menu li:nth-child(2) a {
		padding-left: 6px;
	}

	.menu li:last-child {
		margin-bottom: 70%;
	}

	.menu li ul li:last-child {
		margin-bottom: 0;
	}

	.menu li ul {
		display: none;
		position: relative;
		top:0;
	}

	.menu li ul li {
		background:none;
	}

	.menu li ul li:first-child {
		margin-top:20px;
	}

	.menu li ul li,
	.menu li ul li:first-child {
		padding-left: 36px;
	}

	.menu li ul li:first-child a {
		padding-left: 15px;
	}

	.menu li a {
		font-size: 160%;
		line-height: 40px;
	}

	.container {
		overflow: hidden;
	}

	main .content .scroll-container {
		padding-top: 3%;
	}

	main .content .scroll-container section:last-child {
		padding-bottom: 50%;
	}

	.scroll-container {
		height: 100vh;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
		float:none;
	}

	/* mobile main structure */
	header.night-mode .menu-mobile a {
		background: #e53935;
	}

	main .swiper-container.navigation {
		display: block;
		width: 100%;
		background-color: rgba(255,255,255,1);
		-webkit-box-shadow: 0px 6px 4px -5px rgba(0,0,0,0.1);
	  -moz-box-shadow: 0px 6px 4px -5px rgba(0,0,0,0.1);
	  box-shadow: 0px 6px 4px -5px rgba(0,0,0,0.1);
		z-index: 2;
	}

	main .swiper-container.content {
		height: 80%;
		box-sizing: border-box;
		display: flex;
		background: #f1f1f1;
	}

	main .swiper-container.navigation .swiper-wrapper {
		/*padding: 10px 0;*/
	}

	main .swiper-container.navigation .swiper-slide:nth-child(2n+1) {
		/*padding: 0 10px;*/
		margin-left: 0;
	}

	main .navigation a.swiper-slide {
		padding: 1px 0;
		/*background: rgba(244,67,54,0.75);*/
		color: #ccc;
		display: block;
		font-family: 'HelveticaNeueW01-55Roman', Helvetica, Arial;
		font-size: 8px;
		line-height: 16px;
		letter-spacing: 0.10em;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		width: 100%;
		height: 16px;
	}

	main .navigation a.swiper-slide.swiper-slide-active {
		/*background: rgba(244,67,54,1);*/
		color: rgba(244,67,54,1);
		/*-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);*/
		border-bottom: 2px solid rgba(244,67,54,1);
	}

	main .content .swiper-slide:nth-of-type(1) {
		/*background: #fff000;*/
	}

	main .content .swiper-slide:nth-of-type(2) {
		/*background: #ff0000;*/
	}


	.content section li {
		list-style: none;
	}

	/* fokus */
	#page-1.swiper-slide .fokus {
		padding: 5% 0;
	}

	.fokus li {
		margin-bottom: 5%;
	}

	.fokus li:last-child {
		margin-bottom: 0;
	}

	.fokus h2.title,
	.fokus .card-type-2 a:nth-of-type(2) h2,
	.terpopuler h2.title,
	.terpopuler .card-type-1 a:nth-of-type(2) h2,
	.list h2.title,
	.list .card-type-1 a:nth-of-type(2) h2 {
		font-family: 'HelveticaNeueW01-55Roman', Helvetica, Arial;
		font-size: 120%;
		line-height: 150%;
	}

	.fokus h2.title {
		border-bottom: 1px solid #e53935;
	}

	.fokus .card-type-2 {
		width: 50%;
		margin-top: 5px;
		padding: 5px 0;
	}

	.fokus .card-type-2:nth-of-type(1) .wrapper {
		margin-right: 5px;
	}

	.fokus .card-type-2:nth-of-type(2) .wrapper {
		margin-left: 5px;
	}

	.fokus .card-type-2 a {
		display: block;
		overflow: hidden;
		color: #000;
	}

	.fokus .card-type-2 a:nth-of-type(1) {
		height: 140px;
	}

	.fokus .card-type-2 a:nth-of-type(2) {
		padding: 4%;
		height: 110px;
		overflow: hidden;
	}

	.fokus .card-type-2 .wrapper {
		padding: 0;
		-webkit-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.1);
	  -moz-box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.1);
	  box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.1);
	}

	.fokus .card-type-2 a:nth-of-type(2) h2 {
		padding: 0 4px;
	}
	/* end fokus */

	.list li,
	.terpopuler li {
		background: #f3f3f3;
		margin-bottom: 5px;
	}

	.list li:last-child,
	.terpopuler li:last-child {
		margin-bottom: 0;
	}

	.list .card-type-1 a:nth-of-type(2),
	.terpopuler .card-type-1 a:nth-of-type(2) {
	/*.tab-content li:nth-of-type(1) a:nth-of-type(2) {*/
		width: 75%;
	}

	.list .card-type-1 a:nth-of-type(2) *,
	.terpopuler .card-type-1 a:nth-of-type(2) * {
		padding-left: 5%;
	}

	/* terbaru */
	.list .card-type-1 .wrapper {
		padding: 5px;
	}

	.list .card-type-1 a:nth-of-type(1) {
		width: 25%;
		height: 120px;
		overflow: hidden;
		position: relative;
	}

	.list .card-type-1 a:nth-of-type(2) {
		color: #000;
	}

	.list li a:nth-of-type(2) h2 {
		height: auto;
	}
	/* end terbaru */

	/*.tab-content > li:nth-of-type(1) {
		margin-bottom: 5px;
	}

	.tab-content li:nth-of-type(1) h2.title {
		margin-left: 10px;
	}*/

	/* terpopuler */
	.swiper-container.terpopuler #tab.swiper-wrapper {
		display: -webkit-flex;
		display: flex;
	}

	/*.tab-content li span {
		font-size: inherit;
	}*/

	/*.tab-content li:nth-of-type(1) .wrapper,*/
	.terpopuler .card-type-1 .wrapper {
		padding: 10px;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
		-webkit-justify-content: center;
		justify-content: center;
	}

	.terpopuler .card-type-1 a {
		color: #e53935;
	}

	/*.tab-content li:nth-of-type(1) a:nth-of-type(1),*/
	.terpopuler .card-type-1 a:nth-of-type(1) {
		-webkit-border-radius: 50%;
		border-radius: 50%;
		width: 70px;
		height: 70px;
		border: 1px solid #e53935;
		font-size: 35px;
		text-align: center;
		line-height: 70px;
		margin-top: 3px;
	}

	.terpopuler .card-type-1 a:nth-of-type(1) img {
		display: none;
	}

	.terpopuler .card-type-1 a:nth-of-type(2) h2.title {
		color: #555;
	}

	.terpopuler .card-type-1 a:nth-of-type(2) span {
		color: #aaa;
		margin-top: 2%;
	}
	/* end terpopuler */
}
/* end general mobile */

/* iPad 768px */
@media screen and (min-width: 768px) and (max-width: 800px) {
	.logo-tempo {
		width: 70%;
	}
}
/* end iPad 768px */

@media screen and (min-width: 481px) and (max-width: 800px){
	.menu-mobile {
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
		top: 32px;
		right: 32px;
	}

	.night-mode .logo-tempo {
	  background-position: -235px 0;
	}

	main .navigation a.swiper-slide {
		font-size: 16px;
		line-height: 32px;
		height: 32px;
	}

	#headline.swiper-container.headline-mobile-terbaru {
		height: auto;
	}

	#headline.headline-mobile-terbaru .swiper-slide h2 {
		font-size: 120%;
		line-height: 1.6em;
	}

	#headline.headline-mobile-terbaru .swiper-slide h3 {
		font-size: 120%;
	}
}
/* end min-width: 568px and max-width: 800px */

/* Small Devices */
@media screen and (max-width: 480px){
	.header-main {
		height: 40px;
	}

	.logo-tempo {
		width: 70%;
		height: 22px;
		line-height: 22px;
		margin-left: 10px;
	}

	.night-mode .logo-tempo {
		background-position: -140px 0;
	}

	.menu .night-mode-button {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}

	.menu li:first-child {
		padding-left: 20px;
		line-height: 30px;
	}

	.menu-mobile {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}

	main .content .scroll-container section:last-child {
		padding-bottom: 25%;
	}

	#headline.headline-mobile-terbaru .swiper-slide h2 {
		font-size: 14px;
		line-height: 20px;
	}

	#headline.headline-mobile-terbaru .swiper-slide h3 {
		font-size: 8px;
	}

	/* fokus */
	.fokus .card-type-2 a:nth-of-type(1) {
		height: 90px;
	}
	/* end fokus */
}
/* end max-width: 480px */

@media screen and (min-width: 381px) and (max-width: 480px){
	.fokus .card-type-2 a:nth-of-type(2) h2 {
		font-size: 100%;
		line-height: 150%;
	}
}
/* end min-width: 361px and max-width: 480px */

@media screen and (max-width: 380px){
	.wrapper,
	#headline figcaption a {
		padding: 0 10px;
	}

	.night-mode .logo-tempo {
	  background-position: -120px 0;
		width: 80%;
	}

	.menu li:last-child {
		margin-bottom: 55%;
	}

	.menu li ul li:last-child {
		margin-bottom: 0;
	}

	.menu-mobile a {
		font-size: 9px;
		line-height: 24px;
		letter-spacing: 2.6px;
	}

	.menu li:nth-child(2),
	.menu li,
	.menu li ul li:nth-child(2),
	.menu li ul li {
		margin: 10px 0;
		padding: 0 14px;
	}

	.menu li:nth-child(1) a,
	.menu li a {
		font-size: 100%;
	}

	.scroll-container {
		margin-bottom: 28%;
	}

	#headline.swiper-container.headline-mobile-terbaru {
		/*height: 180px;*/
	}

	/* fokus */
	.fokus h2.title {
		font-size: 14px;
	}

	.fokus .card-type-2 a:nth-of-type(2) {
		height: 70px;
	}

	.fokus .card-type-2 a:nth-of-type(2) h2 {
		font-size: 10px;
		line-height: 16px;
	}

	.fokus .card-type-2 a:nth-of-type(1) {
		height: 90px;
	}
	/* end fokus */
	/* terbaru */
	.list .card-type-1 a:nth-of-type(1) {
		width: 70px;
		height: 70px;
	}
	/* end terbaru */
	/* terpopuler */
	.terpopuler .card-type-1 a:nth-of-type(1) {
		-webkit-border-radius: 50%;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		border: 1px solid #e53935;
		font-size: 25px;
		text-align: center;
		line-height: 40px;
		margin-top: 3px;
	}

	.terpopuler .card-type-1 a:nth-of-type(2) * {
		padding-left: 20px;
	}

	.list .card-type-1 a:nth-of-type(2) h2,
	.terpopuler .card-type-1 a:nth-of-type(2) h2 {
		font-size: 12px;
		line-height: 16px;
	}

	.terpopuler .card-type-1 span {
		font-size: 10px;
	}
	/* end terpopuler */
}
/* end max-width: 380px; */

@media screen and (max-width: 320px){
	.fokus .card-type-2 a:nth-of-type(1) {
		height: 70px;
	}
}
